.readingPage p {
    margin-left: 120px;
}
.mainDivision {
    text-align: center;
    
	position:relative;
	left: 652px;
	top: 256px;
}
.middleContent {
    display: inline-block;
   text-align: left;
}
.allHelp {
    position:relative;
    margin-top:150px;
}
.leftHelpPanel {
    float:left;
}
.rightHelpPanel {
    float: right;
}
.leftHelpPanelItem {
float:left;
}
.rightHelpPanelItem {
float:left;
}
.helpThumbnail {
 width:100px;
 height:100px;
 padding:20px;
}