.readingPage p {
    margin-left: 120px;
}
.mainDivision { 
	position:relative;
	left: 100px;
	top: 406px;
	text-align: left;
	width:50%;
    height: 120px;

}
.middleContent { 
	position:relative;
   float:left;
   text-align: left;
   
}
.allHelp {
    left: 100px;
    position:relative;
    margin-top:150px;
}
.leftHelpPanel {
    float:left;
}
.rightHelpPanel {
    float: right; 
    margin-right:100px;
}
.leftHelpPanelItem {
float:left;
    border:2px groove black;
    border-radius:5px; 
}
.rightHelpPanelItem {
float:left;
}
.helpThumbnail {
 width:100px;
 height:100px;
 padding:20px;
}
.fishImage {
    position: relative;
    left:117px; 
    top: 81px;
	z-index:10;
}
.bowlImage{
	position:relative;
    left:auto;  
    top: -321px;
	}