.homepage section[role=main] {
    margin-left: 511.78px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
#takeReading{
	position:relative; 
	left: auto;
	top: auto;
}
.rightItem {
    float:right;
}
.leftItem {
    top:250px;
	margin-left:100px;
    float:left;
    position:relative;
}
.trafficSignal {
    width:175px;
    height:300px;
}
.peripheralContent {
    margin-top:50px;
}
