.readingPage p {
    margin-left: 120px;
}
.mainDivision { 
	position:relative;
	left: 100px;
	top: 406px;
	text-align: left;
	width:50%;
    height: 120px;

}
.middleContent { 
	position:relative;
   float:left;
   text-align: left;
   
}
.allHelp {
    left: 100px;
	height: auto;
	width:auto;
    position:relative;
    margin-top:110px;

}
.leftHelpPanel {
    float:left;
    width:370px;
}
.rightHelpPanel {
    float: right; 
    margin-right:100px;
}
.leftHelpPanelItem {
float:left;
     width:110px;
    border:1px solid black;
    text-align:center;
}
.rightHelpPanelItem {
float:left;
 width:100px;
}
.helpThumbnail {
 width:100px;
 height:70px;
 padding:5px;
}
#leftHelpItem2 {
   
}
.fishImage {
    position: relative;
    left:117px; 
    top: 81px;
	z-index:10;
}
.bowlImage{
	position:relative;
    left:auto;  
    top: -321px;
	}
.upperPanel {
	width:325px;
}
.lowerPanel {
}