.contact p {
    margin-left: 120px;
}
.leftHelpPanelItem {
padding: 5px;
}
.allHelp {
    left: 100px;
    position:relative;
    margin-top:150px;
}
.leftHelpPanel {
    float:left;
}
.rightHelpPanel {
    float: right; 
    margin-right:100px;
}
.leftHelpPanelItem {
float:left;
    border:2px groove black;
    border-radius:5px; 
}
.rightHelpPanelItem {
float:left;
}
.helpThumbnail {
 width:100px;
 height:100px;
 padding:20px;
}