.homepage section[role=main] {
    margin-left: 511.78px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
#takeReading{
	position:relative; 
	left: auto;
	top: auto;
}
.rightItem {
    float:right;
}
.leftPanel{
	margin-left:100px; 
    width:360px;
    position:relative;
    float : left;
}
.rightPanel {
float: right;
}
.nextReadingCard {
    margin-left:50px;
    position:relative;
    border: thick solid green;
    border-radius: 20px;
    width:200px;
    height:100px;
    text-align:center;
}
.nextReadingHeading {
    border-bottom:thick solid green;
    border-top-left-radius:14px;
    border-top-right-radius:14px;
    font-weight:900;
    color:white;
    background-color:#376fe2;
    text-align:center;
}
.nextReadingContent { 
    margin-top:3%;
    font-weight:900;
    font-size:x-large;
}
.trafficSignal {
    width:175px;
    height:300px;
}
.peripheralContent {
    margin-top:150px; 
}
.dynamicAlertBox {
    margin-top:20px;
    position:relative;
    padding:20px;
     font-weight:700;
    font-size:large;
border: 2px solid red;
height:auto;
}
.buttonPanel {
    position:relative;
    height:auto;
    padding:20px;
}
.button-left {
float:left;
}
.button-right {
float:right;
}